# Copy this file to .env in the same folder as docker-compose.yml
# and replace values for your machine.

# Postgres
POSTGRES_USER=nahid
POSTGRES_PASSWORD=1234
POSTGRES_DB=ecommerce

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=redis123

# PgAdmin (optional)
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

